{% extends "main/index.html" %}
{% block breadcrumbs %}
{{ block.super }}/
<a href="{% url "main:tables" %}" class="navBtn">Tables</a>
{% endblock breadcrumbs %}
{% block content %}
{% if user.is_authenticated %}
{% #section title="Invitations" %}
<ul>
  {% for invitation in invitations %}
  <li>
    <a class="lnk" href="{{invitation.get_absolute_url}}">{{invitation}}</a>
  </li>
  {% empty %}
  <li>No invitations to show.</li>
  {% endfor %}
</ul>
{% /section %}
{% #section title="My tables" %}
<ul class="list-disc pl-4">
  {% for table in tables_page %}
  <li>
    <a class="lnk" href="{% url "main:table_details" pk=table.id %}">{{table.name}}</a>
  </li>
  {% empty %}
  <li>No tables to show. Use form below to create some.</li>
  {% endfor %}
</ul>
{% #pagination page=tables_page %}{% /pagination %}
{% /section %}
{% endif %}
{% #section title="Create Table" %}
<form action="" method="post" class="frm">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Create" class="btn" />
</form>
{% /section %}
{% endblock content %}
